@font-face {
    font-family: 'socicon';
    src: url('../socicon/font/socicon-webfont.eot');
    src: url('../socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../socicon/font/socicon-webfont.woff') format('woff'),
         url('../socicon/font/socicon-webfont.ttf') format('truetype'),
         url('../socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
    font-size: 16px;
}

.field-type-link .field-item {
    display: inline-block;
    margin-right: 5px;
}

.field-type-link .field-item .socicon {
    text-decoration: none;
    color: #047dde;
}